body {
  margin: 0;
  background-color: #f6f6f6;
}

.header {
  padding: 30px;
  text-align: center;
  background: white;
  color: black;
  font-size: 30px;
}
h1 {
  font-family: "Brush Script MT";
  letter-spacing: 5px;
}
p1 {
  font-size: 20px;
  font-family: Arial;
}
.topnav {
  background-color: #f6f6f6;
  overflow: hidden;
}
.topnav a {
  float: left;
  color: #555555;
  text-align: center;
  padding-bottom: 14px;
  padding-top: 14px;
  text-decoration: none;
  font-size: 17px;
  font-family: Arial;
}
.topnav a:hover {
  background-color: #a8a7a7;
  color: black;
}
.topnav a.active {
  background-color: #a8a7a7;
  color: black ;
}
.card {
  background-color: white;
  padding: 20px;
  margin: 20px;
  font-family: Arial;
}
